a:link {
  color: #000000;
}
a:hover {
  color: #000000;
}
a:active {
  color: #000000;
}
a {
  color: #000000;
}
body {
<<<<<<< HEAD
  font-family: "Open Sans",sans-serif;
}
#main {
  max-width: 100em;
}
=======
	font-family: "Open Sans", sans-serif;
}
#header{
	
}
>>>>>>> 17a57859308783653381d981f9428baf6b0b3640
